<section class="trending-product section" style="margin-top: 12px;">
  <div class="container">

    <!-- Start Trending Product Area -->

    <% if params[:query].present? %>
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <h2>Search Result</h2>
          </div>
        </div>
      </div>

      <%= render 'main/products_search', products: @products %>

    <% else %>

      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <h2>Trending Product</h2>
          </div>

        </div>
      </div>


      <%= render 'main/products_trending', products: @products %>

    <% end %>

    <!-- End Trending Product Area -->

  </div>
</section>

<%#= render 'shared/banner_area' %>