<table>
  <tr>
    <th>Sort by:</th>
    <th>Name:
      <%= link_sort "bi bi-sort-alpha", "title" %>
    </th>

    <th>Price:
      <%= link_sort "bi bi-sort-numeric", "price" %>
    </th>
    <th>Date:
      <%= link_sort "bi bi-sort", "created_at" %>
    </th>
  </tr>
</table>
