<%= turbo_frame_tag 'cart-quantity' do %>
  <div class="cart-items">
    <a href="javascript:void(0)" class="main-btn">
      <i class="bi bi-cart"></i>
      <span class="total-items"><%= @cart.quantity %></span>
    </a>
    <%= render 'cart/cart_modal' if @render_cart %>
  </div>
<% end %>