<%= turbo_frame_tag 'cart-show' do %>
  <% if @cart.orderables.count.positive? %>

    <%= render 'cart/orderables_show' %>

    <div class="col-12">
      <div class="section-title">
        <div class="bottom">
          <div class="button my-5">
            <h2>Total: <%= @cart.total.round(2) %>$</h2>
           <%= link_to ' Checkout', new_order_path ,class: 'btn animate' %>
          </div>
        </div>
      </div>
    </div>

  <% else %>
    <div class="shopping-item">
      <p>Your Cart is Empty</p>
    </div>
  <% end %>
<% end %>
