
<!-- Start Favorite Products Area -->
<section class="trending-product section" style="margin-top: 12px;">
  <div class="container">



      <%= render 'favorites/favorites' %>


  </div>
</section>
<!-- End Favorite Products Area -->
