<%= turbo_frame_tag 'comments' do %>
  <% if !product.comments.empty? && user_signed_in? %>

      <h6 class="mt-5 text-secondary">Comments(<%= product.comments.size %>)</h6>

      <% product.comments.each do |comment| %>
        <%= render comment, product: product %><br>
      <% end %>

  <% end %>
<% end %>