<%= turbo_frame_tag Comment.new do %>
  <% if user_signed_in? && !comment_created?(product, current_user) %>
    <div class="single-product">

      <p>Comment:</p><br>

      <%= render 'comments/form', product: product, comment: Comment.new %>

    </div>
  <% end %>
<% end %>