<% if current_user && @notifications.any? %>

<div class= "container my-3">
  <%= turbo_stream_from "notifications_#{user.id}" %>
  <%= turbo_frame_tag "notifications_#{user.id}" do %>
    <div class="alert alert-notification">
    <% @notifications.each do |notification| %>

          <%= render notification,
              user: notification.to_notification.creator,
              review: notification.to_notification.review,
              product: notification.to_notification.product,
              unread: notification.unread? if notification.to_notification.answer %>

    <% end %>
    </div>
  <% end  %>
  </div>
<% end %>