 <small class="me-2">
   <% if unread %>
    <span>Unread</span>
  <% end %>
  <span><%= user.name %></span>
  replied your review for product
  <span><%= link_to product.title, product, data: {turbo_frame: '_top'} %></span>

 </small>


