
<!-- Start Favorite Products Area -->
<section class="trending-product section" style="margin-top: 12px;">
  <div class="container">

    <% if current_user.likes %>

      <%= render 'likes/likes' %>

    <% else %>

      <h2 class="text-center text-secondary"> No Products</h2>

    <% end %>
  </div>
</section>
<!-- End Favorite Products Area -->
