<!-- Start Hero Area -->
<section class="hero-area">
  <div class="container">
    <div class="row">
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= link_to image_tag Company.includes(images_attachments: :blob).first.images.sort.first, size: '300', style: 'width: 90%', alt: 'slider1', class: 'd-block w-100' %>
            <div class="carousel-caption d-none d-md-block">
            </div>
          </div>
          <div class="carousel-item">
            <%= image_tag Company.includes(images_attachments: :blob).first.images.sort.second, size: '300', alt: 'slider2', class: 'd-block w-100' %>
            <div class="carousel-caption d-none d-md-block">
            </div>
          </div>
          <div class="carousel-item">
            <%= image_tag Company.includes(images_attachments: :blob).first.images.sort.third, size: '300', alt: 'slider3', class: 'd-block w-100' %>
            <div class="carousel-caption d-none d-md-block">
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</section>
<!--   End Hero Area -->