<% category.children.each do |sub| %>
  <% cache sub do %>
      <%= nav_tab "- #{sub.title}", "/category/#{sub.id}" %>
      <ul>
        <li> <%= render 'shared/menu', category: sub, cached: true %></li>
      </ul>
  <% end %>
<% end %>