<%= turbo_frame_tag "Answer-new-#{dom_id(@review)}" do %>
  <div class="single-product">
    <p>Answer:</p><br>
      <%= render 'answers/form', review: @review, answer: Answer.new unless @review.answers && !current_user.admin? %>
  </div>
<% end %>