<!-- Start Orders Area -->
<section class="trending-product section" style="margin-top: 12px;">
  <div class="container">

    <%= render 'orders/orders', orders: @orders %>

  </div>
</section>
<!-- End Orders Area -->

<%#= render 'shared/banner_area' %>