<div class="pagination-number arrow">
  <span class="arrow-text">
      <% if current_page.first? %>
        <%= tag.span t('views.pagination.previous').html_safe,
                           class: 'pagination-number' %>
      <% else %>
        <%= link_to_unless current_page.first?,
                           t('views.pagination.previous').html_safe, url,
                           rel: 'prev',
                           remote: remote,
                           class: 'pagination-number' %>
      <% end %>
  </span>
</div>