<ul class="review">
  <li><i class="bi bi-star-fill"></i></li>
  <li><i class="bi bi-star-fill"></i></li>
  <li><i class="bi bi-star-fill"></i></li>
  <li><i class="bi bi-star-fill"></i></li>
  <li><i class="bi bi-star"></i></li>
  <li><span>4.0 Review(s)</span></li>
</ul>